<br><br>
<form id="Mostrar" class="mt-5">
        <div class="form-group">
            <label for="exampleFormControlSelect2">Juegos de tu Catalogo</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>Halo 5</option>
                <option>Call Of Duty</option>
                <option>Battlefield 1</option>
                <option>Star Wars Battlefront 2</option>
                <option>FIFA 18</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" onclick="borrar()">Eliminar</button>
        <button type="submit" class="btn btn-primary" onclick="actualizar()">Editar</button>
        <a name="IrMostrar"></a>
    </form>
