<br><br><br><br><br><br>
<ul class="videogames">
      <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
              <a *ngFor="let videogame of videogames" class="list-group-item list-group-item-action" id="list-{{videogame.id}}-list" data-toggle="list" href="#list-{{videogame.id}}" role="tab">{{videogame.name}}</a>
            <!--
               <a class="list-group-item list-group-item-action" id="list-2-list" data-toggle="list" href="#list-2" role="tab" >Profile</a>
            <a class="list-group-item list-group-item-action" id="list-3-list" data-toggle="list" href="#list-3" role="tab">Messages</a>
            <a class="list-group-item list-group-item-action" id="list-4-list" data-toggle="list" href="#list-4" role="tab">Settings</a>
            -->

          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
               <div *ngFor="let videogame of videogames" class="tab-pane fade" id="list-{{videogame.id}}" role="tabpanel">{{videogame.description}}</div>
            <!--
                <div class="tab-pane fade" id="list-2" role="tabpanel">prueba2</div>
            <div class="tab-pane fade" id="list-3" role="tabpanel">prueba3</div>
            <div class="tab-pane fade" id="list-4" role="tabpanel">prueba4</div>
            -->
          </div>
        </div>
      </div>
</ul>

<!--
  <div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-"+{{videojuego.id}} role="tab" aria-controls="home">{{videojuego.name}}</a>
   </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade" id="list-"+{{videojuego.id}} role="tabpanel" >{{videojuego.description}}<button type="button" class="btn btn-primary">Primary</button> </div>
    </div>
  </div>
</div>

<form id="Mostrar" class="mt-5">
            <label for="exampleFormControlSelect2">Juegos de tu Catalogo</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>Halo 5</option>
                <option>Call Of Duty</option>
                <option>Battlefield 1</option>
                <option>Star Wars Battlefront 2</option>
                <option>FIFA 18</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary"
        <div class="form-group">onclick="borrar()">Eliminar</button>
        <button type="submit" class="btn btn-primary" onclick="actualizar()">Editar</button>
        <a name="IrMostrar"></a>
    </form>

-->
