<br><br>
<div class="row">
    <div class="col-8">
          <form name="AgregarPrueba" id="Agregar" class="mt-5">
        <div class="form-group">
             <label for="inputTitulo">Titulo del Juego</label>
              <input type="text" class="form-control" placeholder="Titulo" name="titulo" [(ngModel)]="titulo">
        </div>
        <div class = "form-group">
              <label for="inputDescripcion">Descripcion</label>
              <input type="text" class="form-control" id="inputDescripcion" placeholder="Descipcion" name="descripcion" [(ngModel)]="descripcion">
        </div>
        <div class = "form-group">
              <label for="inputUrlImagen">Url Imagen del Juego</label>
              <input type="text" class="form-control" id="inputUrlImagen" placeholder="Url imagen" name="url_imagen" [(ngModel)]="url_imagen">
        </div>
        <div class ="form-row">
            <div class="form-group col-md-4">
              <label for="inputEdicion">Edicion</label>
              <input type="text" class="form-control" id="inputEdicion" placeholder="Edicion" name="edicion" [(ngModel)]="edicion">
            </div>
            <div class="form-group col-md-4">
            <label for="inputPlataformo">Plataforma</label>
            <input type="text" class="form-control" placeholder="Plataforma" name="plataforma" [(ngModel)]="plataforma">
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputDesarrollo">Desarrollado Por</label>
                <select id="inputDesarrollo" class="form-control" name="desarrollado" [(ngModel)]="desarrollado">
                  <option>Electronic Arts</option>
                  <option>Square Enix</option>
                  <option>Nintendo</option>
                  <option>Sony</option>
                  <option>Capcom</option>
                  <option>Microsoft Studios</option>
                </select>
              </div>
          <div class="form-group col-md-4">
            <label for="inputClasificacion">Clasificacion</label>
            <select id="inputClasificacion" class="form-control" name="clasificacion" [(ngModel)]="clasificacion">
              <option>Todos</option>
              <option>Todos +10</option>
              <option>Adolecentes</option>
              <option>Maduro</option>
              <option>Adulto Unicamente</option>
              <option>Clasificacion Pendiente</option>
            </select>
          </div>
        </div>
        <button type="submit" class="m-3 btn btn-outline-primary" (click)="addVideogame()">Guardar</button>
        <button class="btn btn-outline-primary" (click)="goBack()">Regresar</button>
</form>
    </div>
    <div class="col-4">
      <img alt= "" [(src)]="url_imagen" style="margin-top: 80px" width="350" height="350">
    </div>
</div>
<!--
<form name="AgregarPrueba" id="Agregar" class="mt-5">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputTitulo">Titulo del Juego</label>
            <input type="text" class="form-control" placeholder="Titulo" name="titulo" [(ngModel)]="titulo">
          </div>
          <div class="form-group col-md-4">
            <label for="inputPlataformo">Plataforma</label>
            <input type="text" class="form-control" placeholder="Plataforma" name="plataforma" [(ngModel)]="plataforma">
          </div>
          <div class="form-group col-md-4">
            <label for="inputEdicion">Edicion</label>
            <input type="text" class="form-control" id="inputEdicion" placeholder="Edicion" name="edicion" [(ngModel)]="edicion">
          </div>
        </div>
        <div class="form-group">
          <label for="inputDescripcion">Descripcion</label>
          <input type="text" class="form-control" id="inputDescripcion" placeholder="Descipcion" name="descripcion" [(ngModel)]="descripcion">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputDesarrollo">Desarrollado Por</label>
                <select id="inputDesarrollo" class="form-control" name="desarrollado" [(ngModel)]="desarrollado">
                  <option>Electronic Arts</option>
                  <option>Square Enix</option>
                  <option>Nintendo</option>
                  <option>Sony</option>
                  <option>Capcom</option>
                  <option>Microsoft Studios</option>
                </select>
              </div>
          <div class="form-group col-md-6">
            <label for="inputClasificacion">Clasificacion</label>
            <select id="inputClasificacion" class="form-control" name="clasificacion" [(ngModel)]="clasificacion">
              <option>Todos</option>
              <option>Todos +10</option>
              <option>Adolecentes</option>
              <option>Maduro</option>
              <option>Adulto Unicamente</option>
              <option>Clasificacion Pendiente</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="addVideogame()">Guardar</button>
</form>

-->

